dist
dist-*
cabal-dev
*.o
*.hi
*.hie
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.hp
*.eventlog
*.fls
.stack-work/
cabal.project.local
cabal.project.local~
.HTF/
.ghc.environment.*
*~
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.pdf
*.xdv
ltximg/
